/*General CSS*/
html {
  font-size: 16px;
}

/*Nav Bar*/
nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  height: 4rem;
}
#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
}
#logo h2{
  font-size: 2rem;
  text-transform: uppercase;
}
#logo img {
  height: 3rem;
  width: auto;
}
#Colmar {
  font-weight: bold;
}
#Academy {
  color: grey;
}
#links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#links ul {
  display: flex;
  padding-right: 1.5rem;
}
#links li {
  padding-left: 16px;
  font-size: 1.1rem;
}
/*Header Section*/
header {
  background-color: grey;
  display: flex;
  flex-basis: 100%;
}
#headerimg {
  width: 60%;
  padding: 2rem 1.5rem;
}
#headerimg img {
  width: 99%;
  height: auto;
}
#centertext {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 25%;
  text-align: left;
}
#bannertext {
  display: block;
}
header h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
header p {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
#StartButton {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
}
/*Practice Section*/
#Practice {
  background-color: lightgrey;
  display: flex;
  flex-basis: 100%;
}
#PracticeLeft {
  width: 62%;
  height: auto;
}
#PracticeLeft img {
  width: 98%;
  height: auto;
  padding: 2rem 1.5rem;
}
#PracticeLeft h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  padding: 2rem 0 1.5rem 1.5rem;
}
#Quote {
  color: dimgrey;
  font-size: 1rem;
  text-align: left;
  padding-left: 1.5rem;
}
#QuoteLabel {
  font-size: 0.90rem;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}
#PracticeRight {
  width: 38%;
  margin-left: 1.5rem;
  padding-top: 1rem;
}
.ImgCont {
  display: flex;
}
.ImgCont2 {
  width: 35%;
  padding: 1rem;
}
.ImgCont img {
  width: 99%;
  height: auto;
}
.ImgText {
  width: 65%;
  padding: 4rem 1rem;
  text-align: left;

}
.ImgText h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: .5rem;
}
.link {
  color: darkblue;
}
.info {
  color: dimgrey;
  padding-bottom: .5rem;
}
/*Learning Section */
#Learning {
  width: 100%;
  height: auto;
  background-color: dimgrey;
}
#Learning h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  text-align: center;
}
#LearningCont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4.5rem 2rem 4.5rem;
}
.SubjectBox {
  width: 25%;
  height: auto;
  background-color: white;
  margin: 2rem;
}
.SubjectBox img {
  width: 100%;
  height: auto;
}
.SubjectBox h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0 .5rem 1rem;
}
.SubjectBox h4 {
  font-size: 1rem;
  color: dimgrey;
  text-transform: uppercase;
  padding: 0 0 .5rem 1rem;
}
.SubjectBox p {
  font-size: 1rem;
  padding: 0 .5rem 1.5rem 1rem;
}
/*Thesis Section*/
#Thesis {
  width: 100%;
  background-color: lightgrey;
}
#Thesis h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  text-align: center;
}
#ThesisCont {
  display: flex;
  justify-content: space-between;
}
#ThesisLeft {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}
#ThesisLeft h4 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}
#ThesisLeft p {
  color: dimgrey;
  padding-bottom: 2rem;
}
/*Footer Section*/
footer {
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}
#FooterLeft {
  padding: 1rem 0 3rem 1.5rem;
}
#FooterRight {
  padding: 1rem 0 3rem 1.5rem;
}
