/*General CSS*/
html {
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Fjalla One", ariel;
}
p, ul {
  font-family: Dosis, ariel;
}

/*Nav Bar*/
nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  height: 4rem;
}
#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
}
#logo h2{
  font-size: 2rem;
  text-transform: uppercase;
}
#logo img {
  height: 3rem;
  width: auto;
}
#Colmar {
  font-weight: bold;
}
#Academy {
  color: #8B8581;
}
.mobilelogo {
  display: none;
}
#links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#links ul {
  display: flex;
  padding-right: 1.5rem;
}
#links li {
  font-weight: bold;
  padding-left: 16px;
  font-size: 1.1rem;
}
/*Media Query for Nav Bar*/
@media screen and (max-width: 760px) {
  #Colmar, #Academy {
    display: none;
  }
  .mobilelogo {
    display: inline;
  }
  #logo {
    width: 98%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #links {
    width: 1%;
    display: none;
  }
}
/*Header Section*/
header {
  background-color: #8B8581;
  display: flex;
  flex-basis: 100%;
}
#headerimg {
  width: 60%;
  padding: 2rem 1.5rem;
}
#headerimg img {
  width: 100%;
  height: auto;
}
#centertext {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 25%;
  text-align: left;
}
#bannertext {
  display: block;
}
header h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
header p {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 2rem;
}
#StartButton {
  background-color: #0A0A0A;
  color: white;
  font-size: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
}
/*Media Query for Header Section*/
@media screen and (max-width: 760px) {
  header {
    display: block;
  }
  #headerimg {
    width: 100%;
    height: auto;
    padding: 0;
  }
  #bannertext {
    padding: 2rem 1rem;
    width: 100%;
  }
  #bannertext h1 {
    padding-bottom: 2rem;
  }
  #StartButton {
    width: 100%;
  }
}
/*Practice Section*/
#Practice {
  background-color: #B9C0CC;
  display: flex;
  flex-basis: 100%;
}
#PracticeLeft {
  width: 62%;
  height: auto;
}
#PracticeLeft img {
  width: 98%;
  height: auto;
  padding: 2rem 1.5rem;
}
#PracticeLeft h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  padding: 2rem 0 1.5rem 1.5rem;
}
#Quote {
  color: dimgrey;
  font-size: 1rem;
  text-align: left;
  padding-left: 1.5rem;
}
#QuoteLabel {
  font-size: 0.90rem;
  padding-top: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}
#PracticeRight {
  width: 38%;
  margin-left: 1.5rem;
  padding-top: 1rem;
}
.mobileimg {
  display: none;
}
.ImgCont {
  display: flex;
}
.ImgCont2 {
  width: 35%;
  padding: 1rem;
}
.ImgCont img {
  width: 99%;
  height: auto;
}
.ImgText {
  width: 65%;
  padding: 4rem 1rem;
  text-align: left;
}
.ImgText h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: .5rem;
}
.link {
  color: darkblue;
}
.info {
  color: dimgrey;
  padding-bottom: .5rem;
}
/*Media Query for Practice Section*/
@media screen and (max-width: 760px) {
  #PracticeLeft {
  display: none;
  }
  #PracticeRight {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .desktopimg {
    display: none;
  }
  .mobileimg {
    display: block;
  }
  .ImgCont {
    display: block;
    padding: 0;
  }
  .ImgCont2 {
    width: 95%;
    padding: 1rem;
  }
  .ImgCont2 img {
    width: 100%;
    height: auto;
  }
  .ImgText {
    width: 95%;
    padding: 1rem 2rem;
    text-align: left;
  }
  .ImgText h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: .5rem;
  }
  .ImgText p {
    font-size: 1.25rem;
  }
  .link {
    padding-bottom: 2rem;
  }
}
/*Learning Section */
#Learning {
  width: 100%;
  height: auto;
  background-color: #8B8581;
}
#Learning h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  text-align: center;
}
#LearningCont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4.5rem 2rem 4.5rem;
}
#LearningMobile {
  display: none;
}
.SubjectBox {
  width: 25%;
  height: auto;
  background-color: white;
  margin: 2rem;
}
.SubjectBox img {
  width: 100%;
  height: auto;
}
.SubjectBox h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0 .5rem 1rem;
}
.SubjectBox h4 {
  font-size: 1rem;
  color: #8B8581;
  text-transform: uppercase;
  padding: 0 0 .5rem 1rem;
}
.SubjectBox p {
  font-size: 1rem;
  padding: 0 .5rem 1.5rem 1rem;
}
/*Media Query for Learning Section*/
@media screen and (max-width: 760px) {
  #LearningCont {
    display: none;
  }
  #LearningMobile {
    display: block;
    padding-bottom: 2rem;
  }
  #LearningMobile p {
    width: 90%;
    background-color: #97A0A6;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 1rem 2rem 1rem;
    margin: .5rem 1rem;
  }
}
/*Thesis Section*/
#Thesis {
  width: 100%;
  background-color: #B9C0CC;
}
#Thesis h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  text-align: center;
}
#ThesisCont {
  display: flex;
  justify-content: space-between;
}
#ThesisLeft {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}
#ThesisLeft h4 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}
#ThesisLeft p {
  color: dimgrey;
  padding-bottom: 2rem;
}
/*Media Query for Thesis Section*/
@media screen and (max-width: 760px) {
  #ThesisCont {
    display: block;
  }
  #ThesisLeft {
    width: 100%;
    padding: 1rem 0 1.5rem 0;
  }
  .ThesisRight {
    display: none;
  }
}
/*Footer Section*/
footer {
  width: 100%;
  background-color: #595957;
  display: flex;
  justify-content: space-between;
}
#FooterLeft {
  padding: 1rem 0 3rem 1.5rem;
}
#FooterRight {
  padding: 1rem 2rem 3rem 1.5rem;
}
/*Media Query for Footer Section*/
@media screen and (max-width: 760px) {
  #FooterLeft {
    padding: 1rem;
  }
  #FooterRight {
    display: none;
  }
}
